.button {
  padding: 10px 20px;
  margin: 0 auto;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  background-color: #1976d2;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #145a86; /* ホバー時の色 */
}

.button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
