.container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.input {
  margin-bottom: 15px;
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.image {
  max-width: 150px;
  max-height: 150px;
  object-fit: contain; /* アスペクト比を保ちつつ、画像が収まるように調整 */
  margin-bottom: 20px;
}

.button {
  display: inline-block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  font-size: 16px;
  color: white;
  background-color: #1976d2;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

.button:hover {
  background-color: #1565c0;
}

.label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}
