.container {
  padding: 20px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.table th, .table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

.image {
  max-width: 80px;
  max-height: 80px;
}

.buttonContainer {
  display: flex;
  justify-content: space-around;
  gap:2px;
}
