.container {
  display: grid;
  grid-template-columns: 0.8fr 3.2fr;  /* 横に2つずつ並べる */
  gap: 20px;
  padding: 20px;
}

/* 各商品をカードのスタイルにする */
.productGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2カラムレイアウト */
  gap: 20px; /* カード間の余白 */
}

.productCard {
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.productImage {
  width: 100%;
  height: auto;
  object-fit: contain; /* アスペクト比を維持 */
  max-height: 300px; /* 画像の高さを制限 */
  margin-bottom: 20px;
}

.title {
  font-size: 20px;
  margin-bottom: 10px;
  word-wrap: break-word; /* タイトルが長くなった場合に改行 */
}

.price {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
}

.manufacturer {
  font-size: 16px;
  margin-bottom: 10px;
}

.description {
  font-size: 14px;
  margin-bottom: 20px;
}
